{% extends 'base.html' %}
{% block content %}


    <h1>Search Page</h1>

        <br/>
        <form action="{% url 'searchposts' %}" method="GET" value="{{request.GET.q}}">
            Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
            <input type="submit" name="submit" value="Search"/>
        </form>


        {% if submitbutton == 'Search' and request.GET.q != '' %}
        {% if results %}
        <h1>Results for <b>{{ request.GET.q }}</b></h1>
        <br/><br/>

    <div class="container">
        {% for result in results %}
            <div class="row">
                <div class="col-md-2">
                    <a href="/perupa/{{ result.id }}">
                        <img class="col-12 col-sm-2 col-md-10 px-0" src="/media/{{ result.Gambar }}" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <label><a href="/perupa/{{ result.id }}">{{ result.Panggilan }}</a></label>
                    <p>{{ result.Tanggal_Lahir |date:"d M Y" }} - {{ result.Tanggal_Wafat |date:"d M Y" }}</p>
                </div>
            </div>
                <hr>
        {% endfor %}
    </div>

{% else %}
No search results for this query
{% endif %}
{% endif %}
{% endblock %}