{% extends "base.html" %}
{% load class_name %}
{% load static %}

{% block css %}
<link href="{% static 'css/detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    <div class="container">
            <div class="search py-5 my-5">
                <form method='GET' class='' action='.'>
                <input type="text" name="q" class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
            </div>
    </div>
</div>



        <div class='row '>
            <div class='col-md-12 py-5'>
                <h3 class='my-0 py-0' style="text-align: center" id="searchresult" >{{ count }} results for <b>{{ query }}</b></h3>
            </div>

        </div>
        <hr>


<div class="container">
    {% for object in object_list %}
        {% with object|class_name as klass %}
          {% if klass == 'perupa' %}

              <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="/perupa/{{ object.id }}">
                            <img class="col-12 col-sm-2 col-md-10 px-0" src="/media/{{ object.Gambar }}" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4><a href="/perupa/{{ object.id }}">{{ object.Panggilan }}</a></h4>
                        <p>{{ object.Tanggal_Lahir |date:"d M Y" }} - {{ object.Tanggal_Wafat |date:"d M Y" }}</p>
                    </div>
                </div>
                <hr>
              </div>

          {% elif klass == 'karya' %}
               <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-10 px-0">
                        <a href="/karya/{{ object.id }}">
                            <img class="col-12 col-sm-2 col-md-10 px-0" src="/media/{{ object.Gambar }}" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4><a href="/karya/{{ object.id }}">{{ object.Judul }}</a></h4>
                        <p>{{ object.Perupa }}<br>
                        {{ object.Dimensi }}<br>
                        {{ object.Material }}</p>
                    </div>
                </div>
                <hr>
              </div>

          {% elif klass == 'berita' %}
              <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-10 px-0">
                        <a href="/berita/#{{ object.Judul }}">
                            <img class="col-12 col-sm-2 col-md-10 px-0" src="/media/{{ object.Gambar }}" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4><a href="/berita/#{{ object.Judul | slugify }}">{{ object.Judul }}</a></h4>
                        <p style="word-wrap: break-word;">{{ object.Sumber }} - {{ object.Isiberita | truncatechars:"100"}}<a href="/berita/#{{ object.Judul }}"> Read More</a></p>

                    </div>
                </div>
              <hr>
              </div>


               <!--div class='row'>
                 <div class='col-12'>
                    Berita : <a href="/berita/#{{ object.Judul | slugify }}">{{ object.Judul }}</a>
                  </div>
                </div-->


          {% else %}
               <div class='row'>
                 <div class='col-12 col-lg-8 offset-lg-4'>
                    <a href='{{ object.get_absolute_url }}'>{{ object }} | {{ object|class_name }}</a>
                </div>
               </div>
            {% endif %}

        {% endwith %}
        {% empty %}
    {% endfor %}
    </div>

</div>

{% endblock content %}




