{% extends 'base.html' %}
{% load static %}

{% block content %}

     <article>
      <div class="container-fluid">

          <div class="row">
            <div class="col-md-12 sectionkoleksi">
              <span class="divkoleksi divkarya">
                <h3>Kriya</h3>
              </span>
              <div class="sectionfilter">
                <div class="filterkarya">
                  <label class="filtermenu" style="padding: 0;">Filter</label>
                  <!--filter-->
                  <div class="filtermenu portfolioFilter">
                    <a href="#" data-filter="*" class="current">ALL</a>
                    <a href="#" data-filter=".a">A</a>
                    <a href="#" data-filter=".b">B</a>
                    <a href="#" data-filter=".c">C</a>
                    <a href="#" data-filter=".d">D</a>
                    <a href="#" data-filter=".e">E</a>
                    <a href="#" data-filter=".f">F</a>
                    <a href="#" data-filter=".g">G</a>
                    <a href="#" data-filter=".h">H</a>
                    <a href="#" data-filter=".i">I</a>
                    <a href="#" data-filter=".j">J</a>
                    <a href="#" data-filter=".k">K</a>
                    <a href="#" data-filter=".l">L</a>
                    <a href="#" data-filter=".m">M</a>
                    <a href="#" data-filter=".n">N</a>
                    <a href="#" data-filter=".o">O</a>
                    <a href="#" data-filter=".p">P</a>
                    <a href="#" data-filter=".q">Q</a>
                    <a href="#" data-filter=".r">R</a>
                    <a href="#" data-filter=".s">S</a>
                    <a href="#" data-filter=".t">T</a>
                    <a href="#" data-filter=".u">U</a>
                    <a href="#" data-filter=".v">V</a>
                    <a href="#" data-filter=".w">W</a>
                    <a href="#" data-filter=".x">X</a>
                    <a href="#" data-filter=".y">Y</a>
                    <a href="#" data-filter=".z">Z</a>
                  </div>
                </div>
                <div class="formsearchkarya">
                  <form>
                    <form method="GET" action="">
                        <input type="text" name="q" placeholder="Search  artist">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </form>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row bgkarya">
             <div class="col-md-12 sectionkoleksi">
              <span class="divkoleksi" style="border: none;">
                <h3>page {{ pengrajin.number }}/{{ pengrajin.paginator.num_pages }}</h3>
                <span class="pagingkarya">
                    <ul class="pagination">
                        {% if pengrajin.has_previous %}
                            <a href="?page={{ pengrajin.previous_page_number }}"><</a>
                        {% endif %}

                        {% for i in pengrajin.paginator.page_range %}
                            {% if pengrajin.number == i %}
                                <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if pengrajin.has_next %}
                            <a href="?page={{ pengrajin.next_page_number }}"> > </a>
                        {% endif %}
                     </ul>
                </span>
              </span>
            </div>
            <div class="col-md-12 containerperupa">
              <div class="row seckarya portfolioContainer">

                            {% for Perupa in pengrajin %}
                                <div class="{{ Perupa.Panggilan|slice:"1"|lower }}">
                                    <p>
                                      <h5><a href="/perupa/{{ Perupa.id }}">{{ Perupa.Panggilan }}</a></h5>
                                      <font>{{ Perupa.Tanggal_Lahir }} - {{ Perupa.Tanggal_Wafat }}</font><br>
                                      <label><a href="#"></a></label>
                                    </p>
                                </div>
                            {% endfor %}


              </div>
            </div>
          </div>
      </div>
    </article>
    {% endblock %}


    <!-- Bootstrap core JavaScript -->
    {% block js %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>

    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>


    <script type="text/javascript">

        $(document).ready(function() {

          $(".sample1").click(function(){
            $(".popups").fadeToggle();
            //$(".popups").addClass('animated slideInUp').css("display","block");
          });

          $(".closepop").click(function(){
            $(".popups").fadeToggle();
            //$(".popups").css("display","none");
           /* $(".popups").addClass('animated slideOutUp');*/

          });

           $("#link1").click(function(){
              $("#jenisbenda").slideToggle();
           });

            $("#link2").click(function(){
              $("#jenistema").slideToggle();
           });
        });


        $(document).ready(function() {
              var $container = $('.portfolioContainer');
              $container.isotope({
                  filter: '*',
                  // set columnWidth to a percentage of container width
                  masonry: { columnWidth: $container.width() / 4 },
                  animationOptions: {
                      duration: 750,
                      easing: 'linear',
                      queue: false
                  }
              });

              $('.portfolioFilter a').click(function(){
                  $('.portfolioFilter .current').removeClass('current');
                  $(this).addClass('current');

                  var selector = $(this).attr('data-filter');
                  $container.isotope({
                      filter: selector,
                      animationOptions: {
                          duration: 750,
                          easing: 'linear',
                          queue: false
                      }
                   });
                   return false;
              });




              // quick search regex
              var qsRegex;
              // init Isotope
              var $grid = $('.portfolioContainer').isotope({
                filter: function() {
                  return qsRegex ? $(this).text().match( qsRegex ) : true;
                }
              });

              // use value of search field to filter
              var $quicksearch = $('.quicksearch').keyup( debounce( function() {
                qsRegex = new RegExp( $quicksearch.val(), 'gi' );
                $grid.isotope();
              }, 200 ) );

              function debounce( fn, threshold ) {
                  var timeout;
                  threshold = threshold || 100;
                  return function debounced() {
                    clearTimeout( timeout );
                    var args = arguments;
                    var _this = this;
                    function delayed() {
                      fn.apply( _this, args );
                    }
                    timeout = setTimeout( delayed, threshold );
                  };
                }


          });
    </script>


{% endblock %}