{% extends 'base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'css/detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}



<article>
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <img class="col-12 col-sm-8 col-md-10 px-0 imgdetail img-responsive " src="/media/{{ Karya.Gambar }}" alt="">
            </div>
            <div class="col-md-3">
                <div class="centered">
                    <h5>{{ Karya.Judul }}</h5>
                    <p><a href="/perupa/{{ Karya.Perupa_id }}">{{ Karya.Perupa }}</a></p>
                    <p>{{ Karya.Dimensi }}</p>
                    <p>{{ Karya.Material }}</p>
                </div>

            </div>
        </div>
    </div>
</div>
</article>
{% endblock %}

{% block js %}


{% endblock %}