{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

    <div id="detail-nav">
        <ul>
            <li><img src="/media/{{ Karya.Perupa.Gambar }}"></li>
            <li>{{ Karya.Judul }}</li>
            <li><a href="Http://localhost:8000/perupa/{{ Karya.Perupa_id }}">{{ Karya.Perupa.Panggilan }}</a> </li>
            <li>{{ Karya.Dimensi }}</li>
            <li>{{ Karya.Material }}</li>
            <li>{{ Karya.Tahun_Pembuatan }}</li>
            <li>{{ Karya.Lokasi_Lukisan }}</li>
            <li>{{ Karya.Keterangan }}</li>
        </ul>
    </div>

    <div class="detailgaleri">
        <img src="/media/{{ Karya.Gambar }}" class="row">
    </div>
{% endblock %}

