{% extends 'base.html' %}

{% load static %}

{% block content %}
<!--article>
    <div class="container">
        <div class="row bgkarya">
            <div class="col-md-12 ">
                    <div class="col-md-10 profil">
                        <img class="col-12 col-sm-2 col-md-10 px-0" src="/media/{{ Karya.Gambar }}">
                    </div>

                    <div class="col-md-2">
                        <h5>{{ Karya.Judul }}</h5><br>
                        <p>{{ Karya.Perupa }}</p><br>
                        <p>{{ Karya.Dimensi }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article-->
<article>
<div class="row bgkarya">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="col-12 col-sm-8 col-md-10 px-0" src="/media/{{ Karya.Gambar }}" alt="">
            </div>
            <div class="col-md-3">
                <div class="centered">
                    <h5>{{ Karya.Judul }}</h5>
                    <p><a href="/perupa/{{ Karya.Perupa_id }}">{{ Karya.Perupa }}</a></p>
                    <p>{{ Karya.Dimensi }}</p>
                    <p>{{ Karya.Material }}</p>
                </div>

            </div>
        </div>
    </div>
</div>
</article>
{% endblock %}

{% block js %}


{% endblock %}