{% extends "base.html" %}
{% load static %}

{% block content %}
    <article>
      <div class="container-fluid">

          <div class="row">
            <div class="col-md-12 sectionkoleksi">
              <span class="divkoleksi divkarya">
                <h3>Koleksi > Lukisan</h3>
              </span>
              <div class="sectionfilter">
                <div class="filterkarya">
                  <label class="filtermenu" style="padding: 0;">Filter</label>
                  <div class="filtermenu jeniskarya ">
                    <a id="link1">Jenis benda seni +</a>
                    <ul id="jenisbenda" class="jenisbenda">
                      <li><a href="#">Patung</a></li>
                      <li><a href="#">Lukisan</a></li>
                      <li><a href="#">Kriya</a></li>
                    </ul>
                  </div>
                  <div class="filtermenu temakarya">
                    <a id="link2">Tema +</a>
                    <ul id="jenistema" class="jenisbenda">
                      <li><a href="#">Potret dan Sensualitas</a></li>
                      <li><a href="#">Alam dan Benda</a></li>
                      <li><a href="#">Pemandangan Alam dan Kota</a></li>
                      <li><a href="#">Perjuangan dan Potret Para Pejuang</a></li>
                      <li><a href="#">Tradisi/Budaya/Mitologi/Keseharian</a></li>
                      <li><a href="#">Patung dan Kriya</a></li>
                    </ul>
                  </div>

                </div>
                <div class="formsearchkarya">
                  <form method="GET" action="">
                    <input type="text" name="q" placeholder="Search collection and artist">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </a>
                </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row bgkarya">
             <div class="col-md-12 sectionkoleksi">
              <span class="divkoleksi" style="border: none;">
                <h3>page {{ karya.number }}/{{ karya.paginator.num_pages }}</h3>
                <span class="pagingkarya">
                    <ul class="pagination">
                        {% if karya.has_previous %}
                            <a href="?page={{ karya.previous_page_number }}"><</a>
                        {% endif %}

                        {% for i in karya.paginator.page_range %}
                            {% if karya.number == i %}
                                <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if karya.has_next %}
                            <a href="?page={{ karya.next_page_number }}"> > </a>
                        {% endif %}
                     </ul>
                </span>
              </span>
            </div>

            <div class="col-md-12">
              <div class="row seckarya">
                  {% for Karya in karya %}
                  <div class="col-md-3 perupalist karyalist">
                    <a href="/karya/{{ Karya.id }}">
                      <img src="/media/{{ Karya.Gambar }}" class="">
                        <figcaption>
                           <h3>{{ Karya.Perupa }}</h3>
                            <p>
                              <i>{{ Karya.Judul }}</i><Br>
                              {{ Karya.Material }}<br>
                              {{ Karya.Dimensi }}<br>
                            </p>
                        </figcaption>
                    </a>
                  </div>
                  {% endfor %}



              </div>
            </div>
          </div>
      </div>
    </article>


    <!--popups-->

{% endblock %}

{% block js %}
     <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>


    <script type="text/javascript">

        $(document).ready(function() {

           $("#link1").click(function(){
              $("#jenisbenda").slideToggle();
           });

            $("#link2").click(function(){
              $("#jenistema").slideToggle();
           });

        });
    </script>
{% endblock %}